version: '3'

services:

  gearpump-master:
    hostname: gearpump-master
    image: garugaru/gearpump:9322e1e
    entrypoint: ./entrypoint.sh
    command: ./bin/master -ip gearpump-master -port 3000
    environment:
        - MASTERS=["gearpump-master:3000"]
        - HOSTNAME=gearpump-master    

  gearpump-ui:
    image: garugaru/gearpump:9322e1e
    entrypoint: ./entrypoint.sh
    command: ./bin/services
    environment:
        - MASTERS=["gearpump-master:3000"]
    ports:
      - "8090:8090"
    depends_on:
        - gearpump-master

  gearpump-worker:
    hostname: "{{.Node.Hostname}}"
    entrypoint: ./entrypoint.sh
    image: garugaru/gearpump:9322e1e
    command: ./bin/worker 
    environment:
        - MASTERS=["gearpump-master:3000"] 
    depends_on:
        - gearpump-master
        - gearpump-ui

 
